name: "Test a Forge project"

on:
  workflow_call:
    inputs:
      cache-path:
        default: |
          cache
          node_modules
          out
          out-optimized
        required: false
        type: "string"

      foundry-fuzz-runs:
        default: 1000
        required: false
        type: "number"

      foundry-invariant-depth:
        default: 20
        required: false
        type: "number"

      foundry-invariant-runs:
        default: 20
        required: false
        type: "number"

      foundry-profile:
        default: "default"
        required: false
        type: "string"

      foundry-version:
        default: "v1.3.6"
        required: false
        type: "string"

      fuzz-seed:
        default: false
        required: false
        type: "boolean"

      match-path:
        required: true
        type: "string"

      name:
        default: "Forge tests"
        required: false
        type: "string"

      retry-attempts:
        default: 1
        description: "Number of attempts to retry if the test fails"
        required: false
        type: "number"

      working-directory:
        default: "."
        required: false
        type: "string"

    secrets:
      MAINNET_RPC_URL:
        required: false
      ROUTEMESH_API_KEY:
        required: false

jobs:
  forge-test:
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    env:
      FOUNDRY_INVARIANT_DEPTH: ${{ inputs.foundry-invariant-depth }}
      FOUNDRY_INVARIANT_RUNS: ${{ inputs.foundry-invariant-runs }}
      FOUNDRY_FUZZ_RUNS: ${{ inputs.foundry-fuzz-runs }}
      FOUNDRY_PROFILE: ${{ inputs.foundry-profile }}
      MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
      ROUTEMESH_API_KEY: ${{ secrets.ROUTEMESH_API_KEY }}
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v4"

      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@v1"
        with:
          version: ${{ inputs.foundry-version }}

      - name: "Restore the cached build"
        uses: "sablier-labs/gha-utils/.github/actions/evm-cache@main"
        with:
          cache-path: ${{ inputs.cache-path }}
          fail-on-cache-miss: true

      - name: "Generate fuzz seed that changes weekly to avoid burning through RPC allowance"
        if: ${{ inputs.fuzz-seed }}
        run: |
          seed=$(echo $(($EPOCHSECONDS / 604800)))
          echo "FOUNDRY_FUZZ_SEED=$seed" >> $GITHUB_ENV

      - name: "Run the tests"
        run: |
          for attempt in $(seq 1 ${{ inputs.retry-attempts }}); do
            if forge test --match-path "${{ inputs.match-path }}"; then
              break
            elif [ $attempt -eq ${{ inputs.retry-attempts }} ]; then
              exit 1
            else
              echo "♻️ Attempt $attempt: tests failed, retrying in 60 seconds..."
              sleep 60
            fi
          done

      - name: "Add summary"
        run: | # shell
          echo "## Result for ${{ inputs.name }}" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY
